/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/
.wiki-modal {
	padding: 20px;
	display: flex;
	flex-direction: column;
    gap: 10px;
}
